
<div class="container">
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Potrebbero piacerti:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Vedi anche:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Post attivi</li>
      <li class="list-group-item">Post inattivi</li>
    </ul>
  </div>
</div>

