
<div class="container">
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Potrebbero piacerti:
    </div>
    <ul class="list-group list-group-flush">
      <a [routerLink]="['/postdetail', contents.id]"><li class="list-group-item">{{contents.title}}</li></a>
      <a [routerLink]="['/postdetail', contents.id]"><li class="list-group-item">{{contents.title}}</li></a>
      <a [routerLink]="['/postdetail', contents.id]"><li class="list-group-item">{{contents.title}}</li></a>
      <a [routerLink]="['/postdetail', contents.id]"><li class="list-group-item">{{contents.title}}</li></a>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Vedi anche:
    </div>
    <ul class="list-group list-group-flush">
      <a [routerLink]="['/activePost']"><li class="list-group-item">Post attivi</li></a>
      <a [routerLink]="['/inactivePost']"><li class="list-group-item">Post inattivi</li></a>
    </ul>
  </div>
</div>

