html,body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center; 
}
main{
    display: flex;
    width: 85%;
}
header{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    align-items: center;
    justify-content: start;
    background-color: #FEF7E2;  
}
h1{
    margin-top: 0;
    color: #752305;
    font-weight: 900;
    
}
h2{
    margin-top: 30px;
    margin-bottom: 5px;
    color: #752305;
    font-weight: 900;
}

.logo{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 10px;
   
}

.containerHeader div{
display: flex;
flex-direction: row;
justify-content: center;
width: 160px;
height: 80px;
margin-top: 40px;
border-radius: 50px;
font-size: smaller;
background-color: #FFDF7F;
color: #752305;
}
.containerHeader div h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHeader div:first-child{
    font-size: large;
}

.containerCard{
display: flex;
justify-content: space-between;




}
.card img{
    width: 190px;
    border-radius: 30px 30px 0px 0px;
}
.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 30px;
background-color: #FEF7E2;
width: 190px;
}
.prezzoKg p{
    width: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}
.p{
   font-size: small;
   display: flex;
   justify-content: end;
}
.prodotto{
    margin-top: 10px; 
}


.prodotto p{
margin: 5px;

}
.prodotto:first-child{
/*DA MODIFICARE SPESSORE*/

}
.prezzo{
    width: 70%;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #FFDF7F;
    color: #752305;
    font-size: small;   
}
.prezzo p{
    font-weight: bold;
    margin: 5px auto;
}
.dettagliArticolo{
   display: flex;
   justify-content: center;
   color: #752305;
}
.testo{
    display: flex;
    padding: 20px;
    border-radius: 30px;
    background-color: #FEF7E2;
   
}
.testo div{
margin-left: 10px;
color: #752305;


}
.testo div h3{
    margin: 0;
    font-weight: 900;
}
.testo div p{
font-size: small;
}
.testo img{
    width: 500px;
}
.containerMain{
padding: 20px; 
}
/*

body{
    display: flex;
    justify-content: space-around;
    
}
header{
    width: 16%;
    margin-left: -22px;
}
main{
    width: 80%;
    display: flex;
}
h1, h2{
    color: #752305;
    font-weight: 900;
}
.logo{
    width: 50px;
    margin: 0;
    margin-right: 20px
}

.containerHeader{ 
flex-direction: column;
background-color: #FEF7E2;
text-align: center;
padding: 10px;   
height: 100vh;

}
.containerHeader div{
border-radius: 50px;
display: flex;
justify-content: center;
margin-top: 20px;
height: 80px;
align-items: center;
font-size: small;
background-color: #FFDF7F;
color: #752305;
}
.containerNav h3{
    font-size: x-large;
}
.dettagliArticolo{
    display: flex;
    
    
}
.dettagliArticolo .prodotto{
flex-direction: column;
width:100%;
justify-content: center;
font-size: small;

}

.dettagliArticolo  .p{
    margin: 0;
    font-size: x-small;
}
.dettagliArticolo p{
    margin: 0;
    margin-top: 10px;
   
}
.prezzoKg{
    width: 40%;
}
.containerCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card img{
width: 100%;
border-radius: 20px 20px 0px 0px ;



}
.card{
    width: 19%;
    border-radius: 20px;
    text-align: center;
    height: 100%;
   font-weight: bold;
    color: #752305;
    background-color: #FEF7E2;
}
.card div{
    display: flex;

}
.prezzo{
    font-size: small;
    font-weight: 900;
    
}
.prezzo p{
    margin: 0 auto;
    width: 130px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #FFDF7F;
    color: #752305;
}

.testo{
    display: flex;
    width: 100%;
    background-color: #FEF7E2;
    border-radius: 20px;
}
.testo h3{
    margin-top: 0;
}
.testo div{

color: #752305;
font-weight: bold;
}
.testo img{
    width: 500px;
    padding: 20px;
}
.testo h3{
    font-size: large;
    font-weight: 900;
}
.testo p{
font-size: small;
margin-right: 10px;
}
.containerMain{
   width: 100%;
    background-color: #FFFFFF;
}
.containerMain .testo{

}
*/

