
/*IMPOSTAZIONI PRINCIPALI*/
html,body,blockquote,p{
font-family: 'Open Sans', sans-serif;
line-height: 1.65;
color:#393d41;
margin:0;
border: 0;
text-align: center;
}
h1,h2{
font-family: 'Montserrat', sans-serif;
color: #25a2c3;
line-height: 1.5;
}

div{
display: flex;
flex-direction: column;
align-items: center; 
}
/*HEADER*/
.imglogo{
text-align: center;
width:150px
}
.header{
background-color: black;
height: 60px;
padding-top: 20px;
padding-bottom: 20px;
}
/*BOTTONE*/
.bottone,.testobottone{
font-family: 'Montserrat', sans-serif;
font-size: large;
text-decoration: none;
padding: 20px;
background-color: #f04c2f;
border-radius: 5px;
color: white;
margin-bottom: 40px;
}
/*MAIN*/
.primotitolo{
 margin:0;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
font-size:40px;
line-height: 1;

}
.nav{
background-image: url(../images/banner.jpg);
background-size: cover;
background-position: start;
font-size: x-large;
}
.pnav{
    padding: 30px;
}
.main1 .testomain{
 margin: 0;
padding:50px;
font-size: large;
}
.testomain{
text-align: center;
}
.blockquotehead{
    margin-top: 50px;
    color: white;
}

.main2{
    
padding: 20px;
}
.img1,.img2,.img3{
 width: 100%; 
height: auto;

}
.borderimg{  
margin-top: 20px;
border: solid 1px #dee1e3;
border-radius: 5px;
}
.imgpc{
margin-top: 20px;
margin-bottom: 20px;
width: 50%;
border-radius: 45%;
}
/*BLOCKQUOTE*/
.citazione,.pcit,.pcit2,.pcit3{
    background-color:#e22d0e;
    color:white ;
}
.pcit{
    font-size: large;
}
.pcit2{
    margin-top: 30px;
    font-size: x-large;
}
.pcit3{
    margin-bottom: 30px;
}
.pmain2{
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}


/*FOOTER*/
#contatti,span,a,.via{
    text-decoration: none;
    color: #c8e7f0;
     background-color: #25a2c3;
}

.fhead{
color: white;
}


.pyxabay{
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
border-top: solid 1px;
color: #c8e7f0;
}