body{
    margin: 0;
    text-align: center;  
}

h3{
    margin: 0;
}

.head{
    border-top: 2px solid;
    border-color: #ffd877;
    background-color: #fdfbf1;  
}

.logo{
    text-align: center;
    width: 200px;
}

.h1{
   
}
.text{
    width:50%;
    text-align: left;
    display: inline;
    justify-content: center;
}

#partecentrale{
    display: flex;
    flex-direction: column;
    align-items: center;
}
