

/*STRUTTURA------------------------------------*/
html,body{
    margin: 0 auto;
    font-family: 'PT Serif', serif;
    text-align: center;
}
.logo{
   width:200px;
   margin-top: 10px;
}
h1{
    text-align: center;
    padding: 19px
}
.phead{
    border-top: solid 1px #FFD877;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.imgFocaccia{
    width: 100%;
    border-radius: 10px;
}

h3,a{
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
}
#partecentrale{
  width: 42%;
  text-align:inherit;
  display: inline-block;
  text-align: start;
}
.text{
    text-align:start;
}
.border{
padding-bottom: 30px;
border-bottom: solid 1px #CFF5F4 ;
}
.ultimolink{
    margin: 0%;
}



/*MODIFICHE ASPETTO--------------------------------*/
h1{
font-style: bold;
}
.p{
    text-align: center;
    color: #999999;
}
.phead{
    color: #004D4C;
    background-color:#FDFBF1;
}
#partecentrale{
    color: #333333;
}
nav {
    margin: 0%;
    border-left: solid 1px #FFD877 ;
}
h3{
    color: #B9521F;
}
a{
    color:#107777 ;
}
