/* IMPOSTAZIONI GENERALI */
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../img/sfondo.png)
}
/* HEADER */
img{
    width: 200px;
}
a{
    color: #49B0D2;
}
.b{
    color:#AA2072 ;
}
.centro{
    display: inline-block;
    align-items: center;

    
}
.header{
    width: 60%;
    color: white;
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient( rgba( 0, 160,198,1), rgba(3,109,134,1));
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 5px 5px #47474b;
}
.linkheader{
color: white;
text-decoration: none;
}
.ulheader{
    list-style: none;
  
}


/* MAIN */
.main{
    width: 60%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #47474b;
}
section{
    padding: 15px;
}
.iframe{
    display: flex;
    align-items: center;
    width: 100%;
}

iframe{

    margin: 10px;
    width: 100%;
    border-radius: 10px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table{
    border:0px;
    border: solid 1px;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #3f6bca;
    border-collapse: collapse;
}


/* FORM */
.form{
    text-align: center;
    
    
    padding: 15px;
    background-color:#E1E2E3 ;

}

/* ELEMENTI NELL' ASIDE */
.articolicorrelati{
    margin-bottom: 15px;
    display: block;
    padding: 15px;
    background-color:#E1E2E3 ;
    
}

/* FOOTER */
.footer{
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color:#045467 ;
    box-shadow: 0px 0px 5px 5px #47474b;
}
