$setColori:(
    blu:#0e6cff,
    arancione:#ff8700,
    verde:#4caf50,
    testo:#f4f4f4,
    hero:#640fc5,
);

header{
    background-color: map-get($map: $setColori, $key: hero);
    width: 100%;
}
header img{
   width: 100px;
}

header nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px;    
}
header nav a{
    margin-right:20px ;
    text-decoration: none;
    color: white;
}

.hero{
display: flex;
padding: 50px;
}
.hero h1{
width: 600px;
 font-size: 6em;
 font-weight: 900;
 line-height: 90px;
 letter-spacing: -5px;
 margin: 0;
 opacity: 60%;   
}

.hero img{
width: 50%;
height: 50%;
border: solid 2px rgb(128, 54, 128);
border-radius: 10px;
box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.4),
0px 7px 13px -3px rgba(0,0,0,0.3),
0px -3px 0px 0px rgba(0,0,0,0.2) inset;
position: relative;
top: 100px;
}
.hero p{
    color: rgb(219, 193, 215);
    line-height: 30px;
}
.button1{
cursor: pointer;
margin-left: 5px;
border: 0;
padding:15px;
border-radius:5px;
color: white;
background-color: map-get($map: $setColori, $key:blu );
}
.button2{
@extend .button1;
background-color: map-get($map: $setColori, $key:arancione);
}
.button3{
@extend .button1;
background-color: map-get($map: $setColori, $key:verde);     
}
